<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
     <link name="world"/>

    <joint name="virtual_joint" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

    <!-- ======= PARAMETERS ======= -->
    <xacro:arg name="dof" default="6"/>
    <xacro:arg name="payload_mass" default="1.0"/>
    <xacro:arg name="robot_color" default="Silver"/>

    <xacro:property name="PI" value="3.141592653589793"/>

    <!-- ======= LOAD MODULES ======= -->
    <xacro:include filename="$(find robot_description)/urdf/materials.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/robot_macro.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/transmissions.xacro"/>
    <xacro:include filename="$(find robot_description)/urdf/gazebo_plugins.xacro"/>

    <!-- ======= BASE ======= -->
    <link name="base_link"/>

    <!-- ======= AUTO GENERATE ARM ======= -->
    <xacro:arm_chain dof="${dof}" parent="base_link"/>

    <!-- ======= PAYLOAD ======= -->
    <link name="tool_link">
        <inertial>
            <origin xyz="0 0 0"/>
            <mass value="${payload_mass}"/>
            <inertia ixx="0.0001" iyy="0.0001" izz="0.0001"
                     ixy="0" ixz="0" iyz="0"/>
        </inertial>
    </link>

    <joint name="tool_joint" type="fixed">
        <parent link="joint_${dof}_link"/>
        <child link="tool_link"/>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
    </joint>

</robot>
