controller_manager:
  ros__parameters:
    update_rate: 1000  # 1000Hz

    gripper_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

gripper_controller:
  ros__parameters:
    joints:
      - joint_gl
      - joint_gr
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    allow_nonzero_velocity_at_trajectory_end: true
    interpolate_from_desired_state: true

arm_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    
    # --- CẤU HÌNH FIX LỖI TIME ---
    allow_nonzero_velocity_at_trajectory_end: true
    interpolate_from_desired_state: true
    interpolation_method: none  # <--- QUAN TRỌNG: PHẢI LÀ none
    
    # XÓA HẾT constraints HOẶC ĐỂ LỎNG NHƯ SAU:
    constraints:
      goal_time: 0.0
      stopped_velocity_tolerance: 0.0
    
    # PID Gains (Để robot không bị xệ xuống)
    gains:
      joint_1: {p: 1000.0, i: 0.0, d: 50.0}
      joint_2: {p: 1000.0, i: 0.0, d: 50.0}
      joint_3: {p: 1000.0, i: 0.0, d: 50.0}
      joint_4: {p: 500.0,  i: 0.0, d: 20.0}
      joint_5: {p: 500.0,  i: 0.0, d: 20.0}
      joint_6: {p: 500.0,  i: 0.0, d: 20.0}
